.lancamento {
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: space-between;
}

.primeiro {
  background-color: red;
  width: 100%;
}

.segundo {
  background-color: yellow;
  width: 100%;
}
.terceiro {
  background-color: green;
  width: 100%;
}
