mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

mat-card-title {
  color: #f1f1f1;

}

.header {
  background-color: #1461a9 !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  border-radius: 0px;
  width: 100%;
}
