<div class="divFiltro">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div mat-dialog-content>
    <form [formGroup]="data.form" class="min-width">
      <mat-form-field class="example-width" appearance="outline">
        <mat-label>Mês Referência</mat-label>
        <mat-select formControlName="mesReferencia">
          <mat-option *ngFor="let p of data.mesesReferencia" [value]="p.value">
            {{ p.valueText }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-width" appearance="outline">
        <mat-label>Ano Referência</mat-label>
        <mat-select formControlName="anoReferencia">
          <mat-option *ngFor="let p of data.anosReferencia" [value]="p.value">
            {{ p.valueText }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button cdkFocusInitial color="primary" (click)="onConfirm()">
        Filtrar
      </button>
    </form>
  </div>
</div>
