button {
  margin-top: 20px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* web */
@media only screen and (min-width: 750px) {
  .divFiltro {
    min-width: 80vh !important;
    height: 60vh !important;
  }
  .linha {
    flex-direction: row !important;
  }
  mat-form-field {
    margin: 5px;
  }
}

.linha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}
