<mat-card
  style="
    padding: 0px !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  "
>
  <!-- INICIO load -->
  <div style="width: 100%; height: 4px">
    <mat-progress-bar
      *ngIf="load == true"
      mode="indeterminate"
      color="accent"
      style="
        background-color: #1461a9 !important;
        border-radius: 6px !important;
        display: flex;
        height: 2px;
      "
    ></mat-progress-bar>
  </div>
  <!-- FIM load -->
  <div style="padding: 16px !important">
    <mat-card-title>Fincon</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
          <mat-form-field
            class="example-full-width divInput"
            appearance="outline"
          >
            <mat-label class="labelInput">usuario</mat-label>
            <input
              class="input"
              matInput
              [formControl]="login"
              placeholder="seu login"
            />
            <mat-error *ngIf="login.hasError('required')">
              Login é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="labelInput">senha</mat-label>
            <input
              class="input"
              matInput
              type="password"
              [formControl]="senha"
              placeholder="sua senha"
            />
            <mat-error *ngIf="senha.hasError('required')">
              Senha é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <div class="button">
          <button
            [disabled]="btnLogin"
            mat-raised-button
            style="background-color: white; color: #1461a9"
          >
            Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>
