<div>
  <mat-card>
    <mat-card-title>Fincon</mat-card-title>
  </mat-card>

  <div class="lancamento">
    <div class="primeiro"></div>
    <div class="segundo">
      <div class="lancamentos">
        <div class="lancamentosPrimeiro">
          <p class="lancamentosPrimeiroTitle">Lançamentos</p>
        </div>

        <div>
          <!--button mat-button style="color: #cccc; font-size: 14px;">Limpar filtros</!--button-->
          <button
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
            style="color: #444"
          >
            <mat-icon>filter_alt</mat-icon>
          </button>
        </div>
      </div>

      <div class="lancamentos">
        <mat-card>
          <div style="display: flex; flex-direction: row;">
            <mat-card-title>+ Entradas</mat-card-title>
            <mat-icon svgIcon="entradas" aria-hidden="false" aria-label=""></mat-icon>
        </div>
          <mat-card-subtitle>R$ 12.437,89</mat-card-subtitle>
        </mat-card>
        <mat-card>
          <mat-card-title>- Saídas</mat-card-title>
          <mat-card-subtitle>R$ 15.580,01</mat-card-subtitle>
        </mat-card>
        <mat-card>
          <mat-card-title> Saldo em Conta</mat-card-title>
          <mat-card-subtitle>R$ 2.100,34</mat-card-subtitle>
        </mat-card>
        <mat-card>
          <mat-card-title> Poupança</mat-card-title>
          <mat-card-subtitle>R$ 12.437,89</mat-card-subtitle>
        </mat-card>
      </div>


    </div>
    <div class="terceiro">
      <div class="terceiroDivButton">
        <button
          mat-raised-button
          style="background-color: #1461a9; color: #f1f1f1"
        >
          Novo
        </button>
      </div>
    </div>
  </div>
</div>
