<div>
  <mat-card>
    <mat-card-title>Fincon</mat-card-title>
  </mat-card>

  <div class="lancamento">
    <div class="primeiro"></div>

    <div class="segundo">
      <div class="lancamentos">
        <div class="lancamentosPrimeiro">
          <p class="lancamentosPrimeiroTitle">Lançamentos</p>
        </div>

        <div>
          <!--button mat-button style="color: #cccc; font-size: 14px;">Limpar filtros</!--button-->
          <button
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
            style="color: #444"
          >
            <mat-icon>filter_alt</mat-icon>
          </button>
        </div>
      </div>

      <!-- cardTotais -->
      <div class="lancamentos">
        <div class="divCardTotais">
          <mat-card class="cardTotais">
            <div
              style="
                display: flex;
                flex-direction: row;
                margin-top: 2px !important;
              "
            >
              <p class="titleCardTotais">+ Entradas</p>
              <img
                style="margin-left: 12px; margin-top: -12px"
                src="../../../assets/icons/entradas.svg"
              />
            </div>
            <mat-card-subtitle class="valorCardTotais">{{
              totalEntrada$
            }}</mat-card-subtitle>
          </mat-card>

          <mat-card class="cardTotais">
            <div
              style="
                display: flex;
                flex-direction: row;
                margin-top: 2px !important;
              "
            >
              <p class="titleCardTotais">- Saídas</p>
              <img
                style="margin-left: 12px; margin-top: -12px"
                src="../../../assets/icons/saidas.svg"
              />
            </div>
            <mat-card-subtitle class="valorCardTotais">{{
              totalSaida$
            }}</mat-card-subtitle>
          </mat-card>

          <mat-card class="cardTotais" style="background-color: #4280ba">
            <div
              style="
                display: flex;
                flex-direction: row;
                margin-top: 2px !important;
              "
            >
              <p class="titleCardTotais" style="color: white">Saldo</p>
              <img
                style="
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  padding: 2px;
                  margin-left: 12px;
                  margin-top: -4px;
                "
                src="../../../assets/icons/moneyWhite.svg"
              />
            </div>
            <mat-card-subtitle class="valorCardTotais" style="color: white">{{
              saldo$
            }}</mat-card-subtitle>
          </mat-card>

          <mat-card class="cardTotais" style="background-color: #33cc95">
            <div
              style="
                display: flex;
                flex-direction: row;
                margin-top: 2px !important;
              "
            >
              <p class="titleCardTotais" style="color: white">Poupança</p>
              <img
                style="
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  padding: 2px;
                  margin-left: 12px;
                  margin-top: -4px;
                "
                src="../../../assets/icons/moneyWhite.svg"
              />
            </div>
            <mat-card-subtitle class="valorCardTotais" style="color: white"
              >R$ XX.XXX,XX</mat-card-subtitle
            >
          </mat-card>
        </div>
      </div>
    </div>
    <div class="terceiro">
      <div class="terceiroDivButton">
        <button
          mat-raised-button
          style="background-color: #2b70b1; color: #f1f1f1"
        >
          Novo
        </button>
      </div>
    </div>
  </div>
</div>

<div class="divTable" *ngIf="lancamentos$ | async as lancamentos; else loading">
  <div *ngIf="lancamentos$ == null; else table">
    <p>Nenhum lançamento encontrado</p>
  </div>

  <ng-template #table>
    <table
      style="width: 95%; margin-bottom: 60px"
      mat-table
      [dataSource]="lancamentos"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let lancamento">
          {{ lancamento.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let lancamento">
          {{ lancamento.categoria }}
        </td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Descrição
        </th>
        <td mat-cell *matCellDef="let lancamento" style="text-align: center">
          {{ lancamento.descricao }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Valor
        </th>
        <td
          mat-cell
          *matCellDef="let lancamento"
          style="text-align: center"
          class="{{
            lancamento.tipo_lancamento == 'Entrada'
              ? 'tdValorEntrada'
              : 'tdValorSaida'
          }}"
        >
          {{ numberToReal(lancamento.valor) }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="tipo_pagamento">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Pagamento
        </th>
        <td mat-cell *matCellDef="let lancamento" style="text-align: center">
          {{ lancamento.tipo_pagamento }}
        </td>
      </ng-container>

      <ng-container matColumnDef="data_lancamento">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Data/Hora
        </th>
        <td mat-cell *matCellDef="let lancamento" style="text-align: center">
          {{ formatData(lancamento.data_lancamento) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pago">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Status
        </th>
        <td
          mat-cell
          *matCellDef="let lancamento"
          style="text-align: center; padding-right: 0px !important"
        >
          {{ changeIsPago(lancamento.pago) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center; width: 70px !important"
        >
          Ações
        </th>

        <div class="actionsColumn">
          <mat-cell
            *matCellDef="let lancamento"
            style="
              padding-left: 0 !important;
              padding-right: 0 !important;
              display: flex;
              justify-content: center;
            "
          >
            <button mat-icon-button aria-label="Editar">
              <mat-icon 
              style="color: #4280ba !important"
              (click)="onEdit(lancamento)">edit</mat-icon>
            </button>

            <button mat-icon-button aria-label="Remover">
              <mat-icon
                style="color: #cc3333 !important"
                (click)="onClickDelete(lancamento.id)"
              >
                delete
              </mat-icon>
            </button>
          </mat-cell>
        </div>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-template>
</div>

<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
