<header-component></header-component>

<mat-card
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  "
>
  <mat-card-header>Lançamento</mat-card-header>
  <form
    [formGroup]="form"
    (submit)="onSubmit()"
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
    "
  >
    <mat-card-content>
      <!-- linha 0 -->
      <div class="linha0" *ngIf="isLancamento == true">
        <p class="linha0Id"># {{ lancamento.id }}</p>
        <p class="linha0Dt">{{ formatData(lancamento.data_lancamento) }}</p>
      </div>
      <!-- linha 1 -->
      <div>
        <!-- Tipo Lançamento -->
        <mat-form-field class="example-width" appearance="outline">
          <mat-label>* Tipo Lançamento</mat-label>
          <mat-select formControlName="tipo_lancamento">
            <mat-option
              *ngFor="let lancamento of lancamentos"
              [value]="lancamento.value"
            >
              {{ lancamento.valueText }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Categoria -->
        <mat-form-field class="example-width" appearance="outline">
          <mat-label>* Categoria</mat-label>
          <mat-select formControlName="categoria">
            <mat-option
              *ngFor="let categoria of categorias"
              [value]="categoria.value"
            >
              {{ categoria.valueText }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Mensal -->
        <div
          style="
            margin: 10px;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
          "
        >
          <p class="{{ isLancamento == true ? 'mensalTrue' : 'mensalFalse' }}">
            Mensal
          </p>
          <mat-checkbox
            color="primary"
            style="margin-left: 5px; margin-top: -5px"
            [disabled]="!selectTipoPagamento.value || isLancamento == true"
            [formControl]="mensalSelect"
            formControlName="mensal"
          ></mat-checkbox>
          <p style="font-size: 11px; color: #818181">
            Será replicado este lançamento em 6 meses
          </p>
        </div>
      </div>
      <!-- linha 2 -->
      <div>
        <!-- Descrição -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Descrição</mat-label>
          <input matInput #input formControlName="descricao" />
        </mat-form-field>

        <!-- Valor -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Valor</mat-label>
          <input
            required
            matInput
            #input
            currencyMask
            [options]="optionsInput"
            formControlName="valor"
          />
        </mat-form-field>

        <!-- Pago -->
        <div style="margin: 10px">
          <label id="example-radio-group-label" class="labelPago">Pago</label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            formControlName="pago"
          >
            <div
              style="display: flex !important; flex-direction: row !important"
            >
              <mat-radio-button
                color="primary"
                class="example-radio-button"
                *ngFor="let season of seasons"
                [value]="season.value"
                (click)="isChangePago(season.value)"
              >
                {{ season.valueText }}
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>
      <!-- linha 3 -->
      <div>
        <!-- Tipo Pagamentos -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>* Tipo de Pagamento</mat-label>
          <mat-select
            [(value)]="tipoPagamentoSelecionado"
            formControlName="tipo_pagamento"
          >
            <mat-option
              *ngFor="let pagamento of tipoPagamentos"
              [value]="pagamento.value"
              (click)="functionSelectTipoPagamento(pagamento.value)"
            >
              {{ pagamento.valueText }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Parcelas -->
         <!-- hintLabel="Este lançamento será replicado a quantidade de parcelas selecionada" -->
        <mat-form-field
          appearance="outline"
        >
          <mat-label>Parcelas</mat-label>
          <mat-select
            formControlName="quantidade_parcelas"
            [disabled]="isLancamento == true"
          >
            <mat-option
              *ngFor="let parcela of qtdParcelas"
              [value]="parcela.value"
            >
              {{ parcela.valueText }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Data de Vencimento -->
        <mat-form-field
          class="example-width formfieldDtVenc"
          appearance="outline"
        >
          <mat-label>Data de Vencimento</mat-label>
          <input
            matInput
            #input
            type="date"
            formControlName="data_vencimento"
          />
        </mat-form-field>
      </div>
      <!-- linha 4 -->
      <div class="divLinha4">
        <!-- Mês/Ano Referência -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>* Mês Referência</mat-label>
          <input
            matInput
            #input
            type="number"
            formControlName="mes_referencia"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>* Ano Referência</mat-label>
          <input
            matInput
            #input
            type="number"
            formControlName="ano_referencia"
          />
        </mat-form-field>

        <!-- Data Prevista Pagamento -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Data Prevista de Pagamento</mat-label>
          <input
            matInput
            #input
            type="date"
            formControlName="data_prevista_pagamento"
          />
        </mat-form-field>
      </div>
      <!-- linha 5 -->
      <div>
        <!-- Observação -->
        <mat-form-field
          class="example-width formFieldObservacao"
          appearance="outline"
        >
          <mat-label>Observação</mat-label>
          <textarea
            matInput
            placeholder=""
            formControlName="observacao"
            style="resize: none"
          ></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="load == false">
      <!-- voltar -->
      <button
        type="button"
        mat-button
        (click)="onVoltar()"
        style="background-color: transparent !important; color: #808080"
      >
        Voltar
      </button>

      <!-- Salvar -->
      <button
        [disabled]="disabledSalvar"
        mat-raised-button
        type="submit"
        style="
          margin-left: 10px;
          background-color: #1461a9 !important;
          color: white;
        "
      >
        Salvar
      </button>
    </mat-card-actions>

    <!-- load -->
    <div
      *ngIf="load == true"
      style="
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 30px;
      "
      class="loading-spinner"
    >
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </form>

  <mat-card-footer></mat-card-footer>
</mat-card>
