<header-component></header-component>

<mat-card
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  "
>
  <div class="lancamento" style="margin-top: -50px">
    <div class="primeiro"></div>
    <div class="segundo" style=" height: 0;"></div>
    <div class="terceiro">
      <div class="terceiroDivButton">
        <button
          mat-raised-button
          style="background-color: #2b70b1; color: #f1f1f1"
        >
          Novo
        </button>
      </div>
    </div>
  </div>

  <mat-card-header>Lançamentos Fixos</mat-card-header>
  <mat-card-subtitle
    >São lançamentos que todo mês você tem! Exemplos: Conta de Luz, Aluguel,
    Creche, Salário.</mat-card-subtitle
  >

  <mat-card-footer></mat-card-footer>
</mat-card>
