/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }*/
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  background-color: #f1f1f1;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #2b70b1 !important;
  stroke-width: 2% !important;
}
